/* src/components/InvoiceCard.css */
.invoice-card {
  background-color: var(--secondary-bg); 
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
}

.invoice-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px dashed var(--primary-bg);
}

.header-item {
  display: flex;
  flex-direction: row;      
  justify-content: space-between;
  align-items: baseline;    
  padding-bottom: 0.5rem;
}

.header-item span {
  color: var(--text-secondary);
  font-size: 0.9rem;
}

.header-item strong {
  color: var(--text-primary);
  font-size: 0.9rem;
}

.header-item.total-price strong {
    color: var(--accent-color);
    font-size: 1.1rem;
    font-weight: bold;
}

.invoice-items-table {
  width: 100%;
  border-collapse: collapse;
}

.invoice-items-table th {
  padding: 0.5rem;
  text-align: right;
  border-bottom: 1px solid var(--primary-bg);
}

.invoice-items-table td {
  padding: 0.5rem;
  text-align: right;
  border-bottom: 1px solid var(--primary-bg);
}

.invoice-items-table th {
  background-color: var(--primary-bg);
  font-weight: bold;
  color: var(--text-primary);
  font-size: 1rem;
}

.invoice-items-table td {
    font-size: 0.9rem;
    color: var(--text-secondary);
}

.invoice-items-table tbody tr:last-child td {
  border-bottom: none;
}

@media (max-width: 600px) {
  .invoice-header {
    grid-template-columns: 1fr;
  }
}