/* frontend/src/index.css */
/* Import Vazirmatn Font */
@font-face {
  font-family: 'Vazirmatn';
  src: url('./assets/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* تم تیره
:root {
  --primary-bg: #1A202C;
  --secondary-bg: #2D3748;
  --card-bg: #1A202C;
  --text-primary: #EDF2F7;
  --text-secondary: #A0AEC0;
  --accent-color: #048F2F;
  --accent-hover: #C6A83A;
} */

/* تم روشن */
:root {
  --primary-bg: #E9ECF1;
  --secondary-bg: #F1F6F9;
  --card-bg: #E9ECF1;
  --text-primary: #394867;
  --text-secondary: #67738B;
  --accent-color: #048F2F;
  --accent-hover: #C6A83A;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================================================================== */
/* کد جلوگیری از اسکرول افقی در موبایل */
/* ================================================================== */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
}
/* ================================================================== */

body {
  margin: 0;
  font-family: 'Vazirmatn', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-bg);
  color: var(--text-primary);
  direction: rtl; 
  /* فعال‌سازی اعداد فارسی در فونت وزیر */
  font-feature-settings: "ss01";
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

.mobile-only-title {
  display: block; 
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--text-primary);
}

@media (min-width: 769px) {
  .mobile-only-title {
    display: none;
  }
}